{% extends 'base.html' %}
{% load static %}

{% block metadescription %}
    {% if category %}
        {{ category.description|truncatewords:155 }}
    {% else %}
        Welcome to SHOP-CART Store where you can buy different items...
    {% endif %}
{% endblock %}
{% block title %}
    {% if category %}
        {{ category.name }} - SHOP-CART
    {% else %}
        See our new collections - SHOP-CART
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            {% if category %}
                <div class="col-md-12 text-center mb-4">
                    <p><a class="btn btn-outline-dark" href="{% url 'shop:All_ProdCat' %}">Our Product Collections</a></p>
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-12">
                {% if category.img %}
                    <img src="{{ category.img.url }}" alt="{{ category.name }}" class="img-fluid rounded">
                {% else %}
                    <img src="{% static 'img/fitbitbanner.png' %}" alt="Our Product" class="img-fluid rounded">
                {% endif %}
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                {% if category %}
                    <h1 class="text-center">{{ category.name }}</h1>
                    <p class="text-center">{{ category.desc }}</p>
                {% else %}
                    <h1 class="text-center">Our Products Collections</h1>
                    <p class="text-center">Discover a wide range of high-quality products.</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <div class="product-list">
                    <div class="row">
                        {% for product in products.object_list %}
                            <div class="col-md-3">
                                <div class="product-item mb-4">
                                    <div class="card">
                                        <a href="{{ product.get_url }}">
                                            <img src="{{ product.img.url }}" alt="{{ product.name }}" class="card-img-top product-img" width="150px">
                                        </a>
                                        <div class="card-body">
                                            <h4 class="card-title product-name">{{ product.name }}</h4>
                                            <p class="card-text product-price">${{ product.price }}</p>
                                            <a href="{% url 'cart:add_cart' product.id %}" class="btn btn-primary">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% if forloop.counter|divisibleby:4 and not forloop.last %}
                                </div><div class="row">
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="mx-auto">
                        {% if products.paginator.num_pages > 1%}
                        <hr>
                        <div class="text-center">
                            {% for pg in products.paginator.page_range %}
                                <a href="?page={{pg}}" class="btn btn-light btn-sm" {% if products.number == pg %} active {% endif %}>{{pg}}</a>
                            {% endfor %}
                        </div>
                        {% endif%}
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
